<ion-view view-title="运动">
  <ion-tabs class="tabs-balanced tabs-striped tabs-top tabs-icon-left">
    <ion-tab title="跑步" icon-on="ion-android-walk" icon-off="ion-android-walk">
      <ion-view>
        <ion-content class="light-bg" overflow-scroll="false">
          tab 1 content
        </ion-content>
      </ion-view>
    </ion-tab>
    <ion-tab title="步行" icon-on="ion-man" icon-off="ion-man">
      <ion-view>
        <ion-content class="light-bg" overflow-scroll="false">
          tab 2 content
        </ion-content>
      </ion-view>
    </ion-tab>
  </ion-tabs>
  <ion-content class="padding" overflow-scroll="false">
  </ion-content>
</ion-view>
