<ion-tabs class="tabs-icon-top tabs-color-active-light tabs-balanced">

  <ion-tab title="运动" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="日历" icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <ion-tab title="个人中心" icon-off="ion-happy-outline" icon-on="ion-happy" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
